<aside id="redes" class="enlaceicono" aria-label="¡Comparte esto en tus redes!"><ul>
    <li id="redes-wa"><a href="https://api.whatsapp.com/send/?text={{site.url}}{{page.url}}" target="_blank" rel="nofollow">WhatsApp</a>
    <li id="redes-tg"><a href="https://telegram.me/share/url?url={{site.url}}{{page.url}}&text={{page.title}}" target="_blank" rel="nofollow">Telegram</a>
    <li id="redes-fb"><a href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank" rel="nofollow">Facebook</a>
    <li id="redes-tw"><a href="http://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&text={{page.title}}&url={{site.url}}{{page.url}}" target="_blank" rel="nofollow">Twitter</a>
    <li id="redes-pin"><a href="https://pinterest.com/pin/create/bookmarklet/?url={{site.url}}{{page.url}}&is_video=false" target="_blank" rel="nofollow">Pinterest</a>
    <li id="redes-rd"><a href="http://www.reddit.com/submit?url={{site.url}}{{page.url}}&title={{page.title}}" target="_blank" rel="nofollow">Reddit</a>
    <li id="redes-email"><a href="mailto:?subject={{page.title}}&body={{site.url}}{{page.url}}" target="_blank" rel="nofollow">Correo electrónico</a>
</ul></aside>